<div class="container mt-5 mb-5">
    <h2 class="title">Commits</h2>
    <ul class="box p-1 bg-light commits-list">
        <li  *ngFor="let commit of commits" class="commit d-flex justify-content-between p-3 bg-white mb-1">
            <div class="commit-info d-flex align-items-baseline">
                <div class="image-holder">
                    <img [src]="commit.author ? commit.author.avatar_url : noAuthorPlaceholder" class="profile-picture" alt="Profile picture">
                </div>
                <i class="mx-2 fas fa-caret-down"></i>
                <div>
                    <h6 class="m-0 text-break">{{commit.commit.message}}</h6>
                    <p class="m-0 text-muted creation-date">Created: <span class="text-dark">{{commit.commit.author.date | date : "HH:mm dd/MM/yyyy"}}</span></p>
                </div>
            </div>
            <div class="commit-options d-flex ml-4">
                <div class="comment">
                    <i class="far fa-comment"></i>
                    <span class="count">{{commit.commit.comment_count}}</span>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </li>
    </ul>
</div>